{{ template "header_default" . }}
{{ $currentUser := .CurrentUser }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Manage User accounts</h1>

    <div class="row">
        <div class="col-xl-10 offset-1">
            {{ getFlashbag }}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-user"></i>
                    List of User accounts
                    <a href="/admin/user/add" class="btn btn-sm btn-info float-right">Add new</a>
                </div>
                <div class="card-body">

                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Display name</th>
                            <th>Email address</th>
                            <th>Locked</th>
                            <th>Admin</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .AllUsers }}
                            <tr>
                                <td>{{ .Id }}</td>
                                <td>{{ .Displayname }}</td>
                                <td>{{ .Email }}</td>
                                <td>{{ if eq .Locked true }}<span class="badge-pill badge-info">Yes</span>{{ else }}<span class="badge-pill badge-secondary">No</span>{{ end }}</td>
                                <td>{{ if eq .Admin true }}<span class="badge-pill badge-info">Yes</span>{{ else }}<span class="badge-pill badge-secondary">No</span>{{ end }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/admin/user/{{ .Id }}/edit">Edit</a>
                                    {{ if ne .Id $currentUser.Id }}
                                        <a class="btn btn-sm btn-danger" href="/admin/user/{{ .Id }}/remove">Remove</a>
                                    {{ end }}
                                </td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
{{ template "footer_default" . }}