{{template "header_default" .}}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-2">Add a Build Target</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-plus-circle"></i>
                    Add a Build Target
                </div>
                <div class="card-body">
                    <table></table>
                </div>
            </div>
        </div>
    </div>

</div>
{{ template "footer_default" . }}