{{template "header_default" .}}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-2">System Settings</h1>

    <div class="row">
        <div class="col-xl-8 offset-2">
            {{ getFlashbag }}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-cogs"></i>
                    General Settings
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="post">
                        <input type="hidden" name="form" value="general_settings">
                        <div class="form-group">
                            <label class="control-label" for="_base_datapath">Base data path:</label><br>
                            <input type="text" class="form-control" name="base_datapath" id="_base_datapath"
                                   placeholder="Absolute path to base data directory" value="{{ index .AdminSettings "base_datapath" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_base_url">Base URL:</label><br>
                            <input type="text" class="form-control" name="base_url" id="_base_url"
                                   placeholder="http(s)://address:port" value="{{ index .AdminSettings "base_url" }}">
                        </div>

                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save General Settings</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-lock"></i>
                    Security
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="form" value="security">
                        <div class="checkbox">
                            <label class="control-label" for="security_disable_registration">
                                {{ $sec_disable_registration := index .AdminSettings "security_disable_registration" }}
                                <input type="checkbox"
                                       name="security_disable_registration"
                                       id="security_disable_registration"
                                       value="1"{{if eq $sec_disable_registration "1"}} checked{{end}}>
                                Disable registration
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="security_disable_password_reset">
                                {{ $sec_disable_password_reset := index .AdminSettings "security_disable_password_reset" }}
                                <input type="checkbox"
                                       name="security_disable_password_reset"
                                       id="security_disable_password_reset"
                                       value="1"{{if eq $sec_disable_password_reset "1"}} checked{{end}}>
                                Disable password reset
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="security_email_confirmation_required">
                                {{ $sec_email_confirmation_required := index .AdminSettings "security_email_confirmation_required" }}
                                <input type="checkbox"
                                       name="security_email_confirmation_required"
                                       id="security_email_confirmation_required"
                                       value="1"{{if eq $sec_email_confirmation_required "1"}} checked{{end}}>
                                Require email activation of new accounts
                            </label>
                        </div>
                        <br>
                        {{ $sec_tfa := index .AdminSettings "security_2fa" }}
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="radio"
                                       name="security_2fa"
                                       value="none"{{if eq $sec_tfa "none"}} checked{{end}}{{if eq $sec_tfa ""}} checked{{end}}>
                                Disable 2-Factor-Authentication
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="radio"
                                       name="security_2fa"
                                       value="email"{{if eq $sec_tfa "email"}} checked{{end}}>
                                Enable 2-Factor-Authentication via email
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="radio"
                                       name="security_2fa"
                                       value="sms"{{if eq $sec_tfa "sms"}} checked{{end}}>
                                Enable 2-Factor-Authentication via SMS
                            </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">
                            Save Security Settings
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-envelope"></i>
                    SMTP
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="post">
                        <input type="hidden" name="form" value="smtp">
                        <div class="form-group">
                            <p>Hint: You might have to enable <i>less secure apps</i> when using services like Google or Yahoo.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_smtp_username">Username/Email:</label><br>
                            <input type="text" class="form-control" name="smtp_username" id="_smtp_username"
                                   placeholder="Username or email" value="{{ index .AdminSettings "smtp_username" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_smtp_password">Password:</label><br>
                            <input type="password" class="form-control" name="smtp_password" id="_smtp_password"
                                   placeholder="Password" value="{{ index .AdminSettings "smtp_password" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_smtp_host">Host:</label><br>
                            <input type="text" class="form-control" name="smtp_host" id="_smtp_host"
                                   placeholder="Host" value="{{ index .AdminSettings "smtp_host" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_smtp_port">Port:</label><br>
                            <input type="text" class="form-control" name="smtp_port" id="_smtp_port"
                                   placeholder="Port" value="{{ index .AdminSettings "smtp_port" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_smtp_encryption">Encryption:</label><br>
                            {{ $enc := index .AdminSettings "smtp_encryption" }}
                            <select class="form-control" size="1" name="smtp_encryption" id="_smtp_encryption">
                                <option value="none"{{if eq $enc "none"}} selected{{end}}>None</option>
                                <option value="tls"{{if eq $enc "tls"}} selected{{end}}>TLS</option>
                                <option value="ssl"{{if eq $enc "ssl"}} selected{{end}}>SSL</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save SMTP Settings</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-folder-open"></i>
                    Paths to Build Executables
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="post">
                        <input type="hidden" name="form" value="executables">
                        <div class="form-group">
                            <p>Hint: You only need to set these values if the command line build executables are <b>NOT</b> globally available.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_golang_executable">Golang:</label><br>
                            <input type="text" class="form-control" name="golang_executable" id="_golang_executable"
                                   placeholder="go" value="{{ index .AdminSettings "golang_executable" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_dotnet_executable">DotNet (C#, F#, VB):</label><br>
                            <input type="text" class="form-control" name="dotnet_executable" id="_dotnet_executable"
                                   placeholder="dotnet" value="{{ index .AdminSettings "dotnet_executable" }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="_rust_executable">Cargo (Rust):</label><br>
                            <input type="text" class="form-control" name="rust_executable" id="_rust_executable"
                                   placeholder="cargo" value="{{ index .AdminSettings "rust_executable" }}">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save Executable Paths</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
{{template "footer_default" .}}
