{{ template "header_default" . }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Build definition Details</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    <b>Execution #{{ .BuildExecution.Id }}</b> for build definition
                    <b>{{ .BuildDefinition.Caption }}</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8">

                            <div class="row">
                                <div class="col-xl-8">
                                    <h5>Details</h5>
                                    <table class="table table-borderless table-condensed">
                                        <tr>
                                            <td>Initiated by</td>
                                            <td>{{ if lt .BuildExecution.ManuallyRunBy 1 }}Repository Push{{ else }}User <i><b>{{ getUsernameById .BuildExecution.ManuallyRunBy }}</b></i>{{ end }}</td>
                                        </tr>
                                        <tr>
                                            <td>Result</td>
                                            <td>{{ .BuildExecution.Result }}</td>
                                        </tr>
                                        <tr>
                                            <td>Artifact path</td>
                                            <td>{{ .BuildExecution.ArtifactPath }}</td>
                                        </tr>
                                        <tr>
                                            <td>Execution time</td>
                                            <td>{{ .BuildExecution.ExecutionTime }} seconds</td>
                                        </tr>
                                        <tr>
                                            <td>Executed at</td>
                                            <td>{{ .BuildExecution.ExecutedAt }}</td>
                                        </tr>
                                        <tr>
                                            <td>Build Log</td>
                                            <td><pre>{{ .BuildExecution.ActionLog }}</pre></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer_default" . }}