{{template "header_default" .}}
{{ $enabledClass := "" }}
{{ $enabledLabel := "" }}
{{ $deploymentEnabledClass := "" }}
{{ $deploymentEnabledLabel := "" }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-2">Build Definitions</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-columns"></i>
                    Build Definitions
                    <a class="btn btn-sm btn-secondary" style="float: right;" href="/builddefinition/add">Add</a>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Caption</th>
                            <th>Target</th>
                            <th>Executions</th>
                            <th>Repository Hoster</th>
                            <th>Repository Name</th>
                            <th>Enabled / Deployment Enabled</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .BuildDefinitions }}
                            <tr>
                                <td>{{ .Caption }}</td>
                                <td>{{ .Target }}</td>
                                <td>{{ .Executions }}</td>
                                <td>{{ .RepoHost }}</td>
                                <td>{{ .RepoName }}</td>
                                {{ if eq .Enabled true }}
                                    {{ $enabledClass = "primary" }}
                                    {{ $enabledLabel = "YES" }}
                                {{ else }}
                                    {{ $enabledClass = "secondary" }}
                                    {{ $enabledLabel = "NO" }}
                                {{ end }}
                                {{ if eq .DeploymentEnabled true }}
                                    {{ $deploymentEnabledClass = "primary" }}
                                    {{ $deploymentEnabledLabel = "YES" }}
                                {{ else }}
                                    {{ $deploymentEnabledClass = "secondary" }}
                                    {{ $deploymentEnabledLabel = "NO" }}
                                {{ end }}
                                <td>
                                    <span class="badge badge-{{ $enabledClass }}">{{ $enabledLabel }}</span> /
                                    <span class="badge badge-{{ $deploymentEnabledClass }}">{{ $deploymentEnabledLabel }}</span>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-primary" href="/builddefinition/{{ .Id }}/edit">Edit</a>
                                        <a class="btn btn-danger" href="/builddefinition/{{ .Id }}/remove">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        {{ else }}
                            <tr>
                                <td colspan="3">No Build Definitions found. <a href="/builddefinition/add">Create one!</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{ template "footer_default" . }}