{{template "header_default" .}}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-2">Build Definitions</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-8 offset-2">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-columns"></i>
                    Build Definitions
                    <a class="btn btn-sm btn-info float-right" href="/builddefinition/add">Add new</a>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Caption</th>
                            <th>Edited by</th>
                            <th>Edited at</th>
                            <th>Created by</th>
                            <th>Created at</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .BuildDefinitions }}
                            <tr>
                                <td><a href="/builddefinition/{{ .Id }}/show">{{ .Caption }}</a></td>
                                <td>{{ if eq .EditedAt.Valid true }}{{ getUsernameById .EditedBy }}{{ end }}</td>
                                <td>{{ if eq .EditedAt.Valid true }}{{ .EditedAt.Time | formatDate }}{{ end }}</td>
                                <td>{{ getUsernameById .CreatedBy }}</td>
                                <td>{{ .CreatedAt | formatDate }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-primary" href="/builddefinition/{{ .Id }}/edit">Edit</a>
                                        <a class="btn btn-danger" href="/builddefinition/{{ .Id }}/remove">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        {{ else }}
                            <tr>
                                <td colspan="3">No Build Definitions found. <a href="/builddefinition/add">Create one!</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{ template "footer_default" . }}