{{ template "header_auth" . }}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Login</h3>
            {{ getFlashbag }}
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label class="small mb-1" for="token">Confirmation Token</label>
                    <input class="form-control py-4" id="token" type="text" name="token"
                           placeholder="Enter confirmation token" />
                </div>

                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="/password/request">Forgot Password?</a>
                    <button type="submit" class="btn btn-primary">Confirm account</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="/register">Need an account? Sign up!</a></div>
        </div>
    </div>
</div>
{{ template "footer_auth" . }}