{{template "header_auth"}}
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Create Account</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label class="small mb-1" for="register_display_name">Display Name</label>
                        <input class="form-control py-4"
                               name="register_display_name"
                               id="register_display_name"
                               type="text"
                               placeholder="Display Name" />
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="register_email">Email</label>
                        <input class="form-control py-4"
                               name="register_email"
                               id="register_email"
                               type="email"
                               placeholder="Email address" />
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="register_password">Password</label>
                                <input class="form-control py-4"
                                       name="register_password"
                                       id="register_password"
                                       type="password"
                                       placeholder="Password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="register_password_confirm">Confirm Password</label>
                                <input class="form-control py-4"
                                       name="register_password_confirm"
                                       id="register_password_confirm"
                                       type="password"
                                       placeholder="Confirm password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href="/login">Have an account? Go to login</a></div>
            </div>
        </div>
    </div>
{{template "footer_auth"}}