{{template "header_default" .}}

{{ $class := "badge-default" }}
{{ $label := "Unknown" }}
{{ $buildDefinitions := .BuildDefinitions }}
{{ $users := .Users }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Build Executions</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-columns"></i>
                    Build Executions
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Build Definition</th>
                            <th>Initiated by</th>
                            <th>Result</th>
                            <th>Execution time</th>
                            <th>Executed at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .BuildExecutions }}
                        {{if eq .Status "succeeded"}}
                            {{$class = "badge-success"}}
                            {{$label = "Succeeded"}}
                        {{else if eq .Status "failed"}}
                            {{$class = "badge-danger"}}
                            {{$label = "Failed"}}
                        {{else if eq .Status "running"}}
                            {{$class = "badge-secondary"}}
                            {{$label = "Running"}}
                        {{else if eq .Status "partially_succeeded"}}
                            {{$class = "badge-warning"}}
                            {{$label = "Partially succeeded"}}
                        {{else if eq .Status "canceled"}}
                            {{$class = "badge-light"}}
                            {{$label = "Canceled"}}
                        {{ end }}
                        <tr>
                            <td><a href="/buildexecution/{{ .ID }}/show">#{{ .ID }}</a></td>
                            <td>
                                {{ $bdi := .BuildDefinitionID }}
                                {{ range $buildDefinitions }}
                                    {{ if eq .ID $bdi }}
                                        {{ .Caption }} (#{{ .ID }})
                                    {{ end }}
                                {{ end }}
                            </td>
                            <td>
                                {{ if gt .ManuallyRunBy 0 }}
                                    {{ $userID := .ManuallyRunBy }}
                                    {{ range $users }}
                                        {{ if eq .ID $userID }}
                                            User {{ .Email }} ({{ .DisplayName }})
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                Code Push
                                {{ end }}</td>
                            <td><span class="badge badge-{{ $class }}">{{ $label }}</span></td>
                            <td>{{ .ExecutionTime }} s</td>
                            <td>{{ .ExecutedAt | formatDate }}</td>
                        </tr>
                        {{ else }}
                        <tr>
                            <td colspan="6" class="text-center">No Build Executions found.</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{ template "footer_default" . }}