{{template "header_default" .}}

{{ $class := "badge-default" }}
{{ $label := "Unknown" }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Build definition Details</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    {{ .BuildDefinition.Caption }}

                    {{ if .BuildDefinition.Deleted }}
                        <span class="badge badge-danger float-right">DELETED</span>
                    {{ else }}
                        <a class="btn btn-sm btn-info float-right" href="/builddefinition/{{ .BuildDefinition.ID }}/edit">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-sm btn-warning float-right mx-1" href="/builddefinition/{{ .BuildDefinition.ID }}/restart">
                            <i class="fa fa-edit"></i>
                            Run manually
                        </a>
                        <a class="btn btn-sm btn-success float-right mx-1" href="/builddefinition/{{ .BuildDefinition.ID }}/artifact">
                            <i class="fa fa-download"></i>
                            Download artifact
                        </a>
                    {{ end }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8">

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Details</h5>

                                    <table class="table table-borderless table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>Webhook link</td>
                                            <td>{{ .BaseUrl }}/api/v1/receive?token={{ .BuildDefinition.Token }}</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Recent build executions</h5>
                                    <table class="table table-borderless table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Started at</th>
                                                <th>Duration</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ range .RecentExecutions }}
                                            {{if eq .Status "succeeded"}}
                                                {{$class = "badge-success"}}
                                                {{$label = "Succeeded"}}
                                            {{else if eq .Status "failed"}}
                                                {{$class = "badge-danger"}}
                                                {{$label = "Failed"}}
                                            {{else if eq .Status "running"}}
                                                {{$class = "badge-secondary"}}
                                                {{$label = "Running"}}
                                            {{else if eq .Status "partially_succeeded"}}
                                                {{$class = "badge-warning"}}
                                                {{$label = "Partially succeeded"}}
                                            {{else if eq .Status "canceled"}}
                                                {{$class = "badge-warning"}}
                                                {{$label = "Canceled (Timeout)"}}
                                            {{ end }}
                                            <tr>
                                                <td>{{ .ExecutedAt | formatDate }}</td>
                                                <td>{{ .ExecutionTime }} seconds</td>
                                                <td><span class="badge {{ $class }}">{{ $label }}</span></td>
                                                <td><a href="/buildexecution/{{ .ID }}/show" class="btn btn-xs btn-primary">Show</a></td>
                                            </tr>
                                        {{ else }}
                                            <tr>
                                                <td colspan="3" style="text-align: center;">No recent build executions.</td>
                                            </tr>
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4">

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Metrics <small>for the last {{ .Limit }} build executions</small></h5>
                                    <table class="table table-borderless table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>Total Execution Count</td>
                                            <td>{{ .TotalBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Failed Execution Count</td>
                                            <td>{{ .FailedBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Successful Execution Count</td>
                                            <td>{{ .SuccessBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Success Rate</td>
                                            <td>{{ .SuccessRate }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Average Runtime</td>
                                            <td>{{ .AvgRuntime }} seconds</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{template "footer_default" .}}