{{template "header_default" .}}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Edit Build Definition</h1>

    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-10 offset-1">
            <form class="form-horizontal" method="post" novalidate>
            <div class="card mb-4">
                <div class="card-header">
                    Edit build Definition
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <label class="control-label" for="caption">Caption (*)</label>
                        <input type="text" class="form-control" name="caption" id="caption" value="{{ .BuildDefinition.Caption }}" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="content">Content (*)</label>
                        <textarea class="form-control" style="font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Courier New', monospace, serif;" name="content" id="content" rows="20" spellcheck="false" required>{{ .BuildDefinition.Content }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" role="button" class="btn btn-primary">Save</button>
                        <a href="/builddefinition/list" role="button" class="btn btn-secondary">Back to overview</a>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{{template "footer_default" .}}