{{template "header_default" .}}

{{ $execClass := "" }}
{{ $execLabel := "" }}
<div class="container-fluid">
    <h1 class="mt-4 mb-3 offset-1">Build definition Details</h1>
    <div class="row">
        {{ getFlashbag }}
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    {{ .BuildDefinition.Caption }}
                    <a class="btn btn-sm btn-info float-right" href="/builddefinition/{{ .BuildDefinition.Id }}/edit">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                    <a class="btn btn-sm btn-warning float-right mx-1" href="/builddefinition/{{ .BuildDefinition.Id }}/restart">
                        <i class="fa fa-edit"></i>
                        Manually re-run
                    </a>
                    <a class="btn btn-sm btn-success float-right mx-1" href="/builddefinition/{{ .BuildDefinition.Id }}/artifact">
                        <i class="fa fa-download"></i>
                        Download Artifact
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8">

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Details</h5>

                                    <table class="table table-borderless table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>Webhook link</td>
                                            <td>{{ .BaseUrl }}/api/v1/receive?token={{ .BuildDefinition.Token }}</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Recent build executions</h5>
                                    <table class="table table-borderless table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Started at</th>
                                                <th>Duration</th>
                                                <th>Result</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ range .RecentExecutions }}
                                            {{ if eq .Result "success" }}
                                                {{ $execClass = "success" }}
                                                {{ $execLabel = "SUCCESS" }}
                                            {{ else }}
                                                {{ $execClass = "danger" }}
                                                {{ $execLabel = "FAILED" }}
                                            {{ end }}
                                            <tr>
                                                <td>{{ .ExecutedAt | formatDate }}</td>
                                                <td>{{ .ExecutionTime }} seconds</td>
                                                <td><span class="badge badge-{{ $execClass }}">{{ $execLabel }}</span></td>
                                                <td><a href="/buildexecution/{{ .Id }}/show" class="btn btn-xs btn-primary">Show</a></td>
                                            </tr>
                                        {{ else }}
                                            <tr>
                                                <td colspan="3" style="text-align: center;">No recent build executions.</td>
                                            </tr>
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Deployments</h5>
                                    coming soon
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4">

                            <div class="row">
                                <div class="col-xl-12">
                                    <h5>Metrics</h5>
                                    <table class="table table-borderless table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>Total Execution Count</td>
                                            <td>{{ .TotalBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Failed Execution Count</td>
                                            <td>{{ .FailedBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Successful Execution Count</td>
                                            <td>{{ .SuccessBuildCount }}</td>
                                        </tr>
                                        <tr>
                                            <td>Success Rate</td>
                                            <td>{{ .SuccessRate }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Average Runtime</td>
                                            <td>{{ .AvgRuntime }} seconds</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{template "footer_default" .}}