{{template "header_default" .}}
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        {{ getFlashbag }}
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Most Recent Build Executions
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Build</th>
                                <th>Duration</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range .LatestBuilds}}
                                {{$class := "badge-default"}}
                                {{$label := "UNKNOWN"}}
                                {{if eq .Result "success"}}
                                    {{$class = "badge-success"}}
                                    {{$label = "SUCCESS"}}
                                {{else if eq .Result "failed"}}
                                    {{$class = "badge-danger"}}
                                    {{$label = "FAILED"}}
                                {{end}}
                            <tr>
                                <td><a href="/builddefinition/{{ .BuildDefinitionID }}/show">{{ getBuildDefCaption .BuildDefinitionID }}</a></td>
                                <td>{{ .ExecutionTime }}s</td>
                                <td>{{ .ExecutedAt | formatDate }}</td>
                                <td><span class="badge {{ $class }}">{{ $label }}</span></td>
                                <td><a class="btn btn-sm btn-info" href="/buildexecution/{{ .ID }}/show">Show</a></td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="5" style="text-align: center;">No recent builds!</td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>
                        Most Recent Build Definitions
                        <a class="btn btn-sm btn-info" style="float:right;" href="/builddefinition/add">Add new</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Build</th>
                                    <th>Edited By</th>
                                    <th>Last Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{range .LatestBuildDefs}}
                                <tr>
                                    <td><a href="/builddefinition/{{ .ID }}/show">{{ .Caption }}</a></td>
                                    <td>{{ if eq .EditedAt.Valid true }}{{ getUsernameById .EditedBy }}{{ else }}-{{ end }}</td>
                                    <td>{{ if eq .EditedAt.Valid true }}{{ .EditedAt.Time | formatDate }}{{ else }}-{{ end }}</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="3" style="text-align: center;">No build definitions. <a href="/builddefinition/add">Create one!</a></td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{template "footer_default" .}}
