{{template "header_auth" .}}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Set new password</h3>
            {{ getFlashbag }}
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label class="small mb-1" for="email">Email</label>
                    <input class="form-control py-4" id="email" type="email" name="email"
                           placeholder="Your email address" value="{{ .Email }}" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="reset_token">Email</label>
                    <input class="form-control py-4" id="reset_token" type="text" name="token"
                           placeholder="Reset token" value="{{ .Token }}" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="password1">New password</label>
                    <input class="form-control py-4" id="password1" type="password" name="password1"
                           placeholder="Your new password" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="password2"></label>
                    <input class="form-control py-4" id="password2" type="password" name="password2"
                           placeholder="Repeat your our new password" />
                </div>


                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-primary">Set new password</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="/login">Already have an account? Log in!</a></div>
            <div class="small"><a href="/register">Need an account? Sign up!</a></div>
        </div>
    </div>
</div>
{{template "footer_auth" .}}