<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body class="container">
    <div class="row">
        <div class="col-md-8 px-2">
            <h2>Confirm your account registration</h2>
            <p>Your account has been created successfully, but you need to confirm your email address.
                Please click the following link in order to confirm your email address:</p>
            <p><a href="{{ .BaseUrl }}/register/confirm?token={{ .Token }}">{{ .BaseUrl }}/register/confirm?token={{ .Token }}</a></p>
            <p>Alternatively, visit <a href="{{ .BaseUrl }}/register/confirm">{{ .BaseUrl }}/register/confirm</a> and enter the
               registration token <b>{{ .Token }} manually. The token is valid for 1 hour.</b></p>
        </div>
    </div>
</body>
</html>