<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body class="container">
    <div class="row">
        <div class="col-md-8 px-2">
            <h2>A password reset was requested</h2>
            <p>If that wasn't you, you can safely ignore this email.
                If it was you, please visit <a href="{{ .BaseUrl }}/password/reset">{{ .BaseUrl }}/password/reset</a>
                and set a new password using your email address ({{ .Email }}) and the reset token ({{ .Token }}).
                Alternatively, click the following link to set a new password:</p>
            <p><a href="{{ .BaseUrl }}/password/reset?email={{ .Email }}&token={{ .Token }}">Set a new password</a></p>
            <p>This link is valid for one hour.</p>
        </div>
    </div>
</body>
</html>